project:
  type: book
  output-dir: docs

book:
  title: "Ada painting notebook"
  author: "Jane Doe"
  date: "27/07/2023"
  chapters:
    - index.qmd
    - paintings.ipynb
    - intro.qmd
    - summary.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme: cosmo
  pdf:
    documentclass: scrreprt



